$bodyColor: #ffffff
$calculatorColor: #f8ffff

$inputBackgroundColor: white
$inputColor: black

$box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
    
$headerTextColor: #003f15
$messageContainerColor: white

$buttonFrameColor: gray
$buttonFrameColorHover: #26be72

$calculateButtonBackColor: green
$calculateButtonBackColorHover: #1a8851
$buttonCalculateDisabledColor: #3eca84


// INPUT NUMBER HIDING ARROW
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
/* Firefox */
input[type=number]
  -moz-appearance: textfield
// --------------------------------

body
    background-color: $bodyColor
    display: flex
    justify-content: center
    align-items: center
    input
        color: $inputColor
        background-color: $inputBackgroundColor

.header
    color: $headerTextColor
    text-align: center

.calculator
    background-color: $calculatorColor
    padding: 10px 40px 10px 40px
    border-radius: 10px
    box-shadow: $box-shadow

.wall
    &-header
        font-weight: bold

    &-panel
        display: flex
        justify-content: space-around
        flex-direction: row
        margin: 5px
        div
            margin: 5px
        input
            padding: 10px
            margin-left: 5px
        .col
            .col-frame
                width: 70px
            .button-frame
                width: 30px
                height: 30px
                border: none
                font-size: 24px
                font-weight: bold
                background: none
                &:hover
                    cursor: pointer
                    color: $buttonFrameColorHover

.send-form
    text-align: center
    margin: 5px

    button
        border: none
        padding: 10px 40px 10px 40px
        background-color: $calculateButtonBackColor
        font-size: 16px
        color: white
        border-radius: 5px
        &:hover
            background-color: $calculateButtonBackColorHover
            cursor: pointer
        &:disabled
            background-color: $buttonCalculateDisabledColor
            cursor: wait