.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  z-index: 1000

  &-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)

  &-content
    position: relative
    padding: 40px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
    z-index: 1

  &-title
    flex: 1
    font-size: 24px
    font-weight: bold
    margin-right: 10px

  &-close
    position: absolute
    top: 0
    right: 0
    padding: 2px 10px 2px 10px
    font-size: 16px
    font-weight: bold
    margin: 4px 4px 0px 0px
    background-color: transparent
    //border: 1px solid black
    border-radius: 5px
    cursor: pointer
    &:hover
        color: white
        background-color: red